<br />
<br />
<cfloop query="data">
	<cfoutput>#user_name#</cfoutput>
	<cfoutput>#user_pass#</cfoutput>
	<a href="?action=updateform&id=<cfoutput>#user_id#</cfoutput>"> 
	update </a>
	<a href="?action=delete&id=<cfoutput>#user_id#</cfoutput>"> 
	delete </a><br />
</cfloop>
<br />
<br />
<a href="?action=addform"> Add User </a>


<br />
<br />
<form action="?action=upload" method="post" enctype="multipart/form-data">

		Upload Picture:
		<input type="file" name="upload" /><br />
		
		<input type="submit" value="upload" />

	</form>
<br />
