<form action="?action=adduser" method="post">

	User Name:
	<input type="text" name="name" value='' /> <br />
	User Pass:
	<input type="text" name="pass" value='' /> <br />
	
	<input type="submit" value="create" />

</form>