<!doctype html>  
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Code by Joe</title>
	<meta name="description" content="Web Development">
	<meta name="author" content="Joseph J. Cavagna">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/vader/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="css/main.css">
	
</head>

<body>
<div id="wrapper">
