<cfloop query="data">
	<form action="?action=updateuser" method="post">

		User id:
		<input type="text" name="id" readonly="readonly" value='<cfoutput>#user_id#</cfoutput>' />
		User Name:
		<input type="text" name="name" value='<cfoutput>#user_name#</cfoutput>' /> <br />
		User Pass:
		<input type="text" name="pass" value='<cfoutput>#user_pass#</cfoutput>' /> <br />
		
		<input type="submit" value="update" />

	</form>
</cfloop> 