<cfcomponent>
	
	<cffunction name="up" returntype="void" access="public">
		<cfargument name="upfile" type="any">
		<cffile action="upload" filefield="#upfile#" destination="/Applications/Railo/webapps/www/SSL/day6/img">
	</cffunction>

</cfcomponent>