/*-----------------RESET------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------GENERAL STYLES---------------*/
body{
	font: 62.5%/1.5 Helvetica, Arial, Sans-serif;
	background-color: #25232d;
	background-color: #ffffff;
}
h1, h2{
	font-size: 1.8em;
}
p {
	font-size: 1.3em;
}
a{
	color: #731010;
	text-decoration: none;
}
a:hover{
	color: #a65b5b;
}
#wrapper{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

/*------------NAV---------------------------*/
nav{
	padding: 2px 0;
	border-bottom: 1px solid black;
	height: 100px;
	width: 100%;
}
nav a{
	font-variant: small-caps;
	font-size: 1.8em;
}
#logo{
	float: left;
}
nav ul{
	float: left;
	margin: 50px 20px 0;
}
nav li{
	float: left;
	margin: 0 20px 0 0;
}
#login{
	float: right;
	margin: 50px 20px 0;
}
/*------------BODY--------------------------*/
section{
	height: 300px;
	background-color: #ababab;
	margin: 10px;
	width: 61%;
}
aside{
	width: 31%;
	height: 300px;
	background-color: #ababab;
	margin: 10px;
}


/*------------FOOTER------------------------*/
footer{
	clear: left;
	height: 50px;
	width: 100%;
	border-top: 1px solid black;
	line-height: 50px;
}
footer p {
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;
}


